.idea/
.vscode/
.gradle/
build/
**/build/
obj/
*.iml
local.properties
gradle.properties
TMessagesProj/.cxx/
**/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
*.apk
*.aab
*.apks
*.idsig
*.keystore
*.jks
*.p12
*.pem
*.key
google-services.json
agconnect-services.json
local.properties
captures/
.externalNativeBuild/
*.hprof
*.log
